* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  color: #F4F9E9;
}

body {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(55%, #04001f), to(#010005));
  background: linear-gradient(0deg, #04001f 55%, #010005 100%);
  height: 100vh;
  width: 100vw;
}

.isUndisplay {
  display: none;
}

.siteHeader {
  z-index: 1;
  width: 100%;
  margin-bottom: 5px;
}

.siteHeader-logo {
  width: 70px;
  margin: 20px;
}

.siteHeader-nav {
  font-size: x-large;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Layout-h {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.Layout-b {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.Nav-link {
  text-decoration: none;
  padding: 10px;
  color: white;
  vertical-align: middle;
  -webkit-text-emphasis-color: white;
          text-emphasis-color: white;
}

#background-video {
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

#background-video source {
  width: 100%;
  height: 100%;
}

.movieContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.movieCard {
  width: 200px;
  margin: 5px;
}

.movieThumbnail {
  width: 100%;
}

.movieTitle {
  display: none;
}

.Form {
  -webkit-box-shadow: 5px 5px 15px 0px #000000;
          box-shadow: 5px 5px 15px 0px #000000;
  background: #0c3f47;
  background: -webkit-gradient(linear, left bottom, left top, from(#0c3f47), to(#146471));
  background: linear-gradient(0deg, #0c3f47 0%, #146471 100%);
  margin-top: 100px;
  padding: 20px;
  border-radius: 5px;
}

.Form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Form-fieldset {
  border: none;
}

.Form-field-lib {
  color: black;
  width: 100%;
}

.Form-field-input {
  width: 100%;
  color: rgba(54, 53, 53, 0.774);
}

.Form-submit {
  margin: 0 auto;
  padding: 10px;
  width: 100px;
}

.Icon {
  width: 35px;
}

button {
  width: 50px;
  color: black;
}

.SearchBar {
  width: 300px;
}

.SearchBar-form {
  width: 100%;
  position: relative;
}

.SearchBar-input {
  border-radius: 50px;
  height: 50px;
  width: 100%;
}

.SearchBar-sub {
  position: absolute;
  border-radius: 50px;
  right: 7px;
  top: 6px;
  background: #fffefe;
  width: 50px;
  height: 40px;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-image: url("./img/Vector.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=App.css.map */